html,
body {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  @apply bg-gold-200;
  @apply text-purple-900;
}

body {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input[type='checkbox'],
input[type='radio'] {
  accent-color: #462273;
  color: #462273;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
